root = true

[*]
end_of_line = LF
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Scripting languages {{{
[*.lua]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.rb]
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_style = tab

[*.fish]
indent_style = space
indent_size = 4
# }}}

# Compiled Languages {{{
[*.go]
indent_style = tab

[*.rs]
indent_style = space
indent_size = 4
# }}}

# Web Languages {{{
[*.{js,cjs,mjs,ts,jsx,tsx,vue,svelte}]
indent_style = space
indent_size = 2

[*.{css,scss,styl}]
indent_style = space
indent_size = 2

[*.{html,pug}]
indent_style = space
indent_size = 2
# }}}

# Data Files {{{
[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
# }}}

[Makefile]
indent_style = tab

[*.{bat,cmd}]
end_of_line = CRLF
indent_style = tab
